@implements IDisposable
@inject NavigationManager NavigationManager

<nav class="navbar navbar-expand-lg site-navbar">
    <div class="container">
        <a class="navbar-brand" href="/">FOTO</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMain">
            <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-1">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Avaleht</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/about">Minust</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/services">Teenused</NavLink>
                </li>

                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button"
                               data-bs-toggle="dropdown">Admin</a>
                            <ul class="dropdown-menu dropdown-menu-end admin-dropdown">
                                <li><a class="dropdown-item" href="/admin/photographer">Profiil</a></li>
                                <li><a class="dropdown-item" href="/admin/services">Teenused</a></li>
                                <li><a class="dropdown-item" href="/admin/social-links">Sotsiaalmeedia</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li>
                                    <form action="Account/Logout" method="post" class="d-inline">
                                        <AntiforgeryToken />
                                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                                        <button type="submit" class="dropdown-item">Logi välja</button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item">
                            <a class="nav-link nav-login" href="Account/Login">Logi sisse</a>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</nav>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
